.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  width: 300px;
  height: 300px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transition: all 0.3s ease;
  color: #333;
}

.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
}

.icon {
  font-size: 3.2rem;
  color: var(--tertiary-color);
  color: var(--primary-color);
  color: #fff;
  margin-bottom: 2rem;
  background-color: var(--primary-color);
  background-color: var(--tertiary-color);
  border-radius: 50%;
  padding: 15px;
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1.8rem;
}

.text {
  text-align: center;
  font-size: 1.4rem;
  line-height: 1.4;
}

.fadeIn {
  transform: translateY(0);
  animation: fadeIn 1s ease forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 760px) {
  .card {
    width: 325px;
    height: 325px;
  }
  .title {
    font-size: 2.4rem;
    font-weight: 700;
    margin-bottom: 1.8rem;
  }

  .text {
    text-align: center;
    font-size: 1.6rem;
    line-height: 1.4;
  }
}
@media screen and (max-width: 400px) {
  .card {
    width: 275px;
    height: 275px;
  }
  .title {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1.8rem;
  }
  .text {
    text-align: center;
    font-size: 1.4rem;
  }
}
