.blog {
  margin: 0 auto;
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 6.4rem 12.8rem;
  background-image: var(--app-container-bgImg);
  background-size: cover;
  color: #111;
  position: relative;
  z-index: 1;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: var(--app-container-bgImg);
  background-size: cover;

  z-index: -1;
}

.overlay::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.85);
  pointer-events: none;
}

.metaContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.meta {
  display: flex;
  align-items: center;
}

.title {
  font-size: 4.8rem;
  margin: 3.2rem 0 1.6rem 0;
  font-weight: 400;
  letter-spacing: 1px;
}

.date {
  font-size: 1.6rem;
  letter-spacing: 0.2px;
  color: #555;
  margin: 8px 0;
  font-weight: normal;
  margin-left: 8px;
}

.author {
  font-size: 1.6rem;
  color: #111;
  margin-left: 8px;
  margin-right: 4px;
  font-weight: 500;
  letter-spacing: 0.3px;
  text-decoration: none;
  transition: all 0.3s;
}
.author:hover {
  cursor: pointer;
  text-decoration: underline;
}

.profilePicture {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
}

.profilePicture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mainContainer {
  display: flex;
  justify-content: space-between;
  gap: 9.6rem;
  margin-top: 4.8rem;
}

.blogContentContainer {
  width: 65%;
}

.videoWrapper {
  margin: 4.8rem 0;
  display: flex;
  flex-direction: column;
  gap: 4.8rem;
}

.blogContent {
  width: 100%;
  font-size: 1.8rem;
  line-height: 1.7;
  overflow: hidden;
}

.aside {
  width: 35%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  overflow: hidden;
  word-wrap: break-word;
}

.editButton {
  font-size: 1.6rem;
  width: 25%;
  margin: 2.4rem auto;
  padding: 8px;
  color: rgb(0, 0, 0);
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s;
  background-color: rgba(245, 79, 21);

  background-image: url("data:image/svg+xml,%3Csvg xmlns='https://www.w3.org/2000/svg' width='540' height='450' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='.1'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/svg%3E");
}
.editButton:hover {
  background-color: #1eb2d7;
  background-color: rgb(221, 86, 37);
}

.coverPhotoContainer {
  width: 100%;
  height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.hoomanContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 0.6rem;
}

.hoomanContainer p {
  font-size: 1.6rem;
  font-weight: 500;
}

.sigHoomans h4 {
  font-size: 1.8rem;
  margin: 1.6rem 0;
  background-color: #ea2027;
  background-image: linear-gradient(115deg, #ea2027 0%, #ee5a24 74%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

.hoomanAvatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
  vertical-align: middle;
  transition: all 0.3s;
}

.hoomanAvatar:hover {
  transform: scale(5);
}

.btnsContainer {
  width: 100%;
  display: flex;
  gap: 2.4rem;
  justify-content: center;
  margin-top: 2.4rem;
}

@media (max-width: 1080px) {
  .blog {
    padding: 6.4rem 9.6rem;
  }
  .title {
    font-size: 3.6rem;
    margin: 3.2rem 0 2.4rem 0;
  }

  .mainContainer {
    flex-direction: column;
    gap: 0;
  }

  .blogContentContainer {
    width: 100%;
  }
  .aside {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 6.4rem;
  }
}

@media (max-width: 860px) {
  .blog {
    padding: 6.4rem;
  }
  .title {
    font-size: 3.2rem;
    margin: 3.2rem 0;
  }

  .mainContainer {
    flex-direction: column;
    gap: 0;
  }

  .blogContentContainer {
    width: 100%;
  }
  .aside {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 4.8rem;
  }

  .sigHoomans h4 {
    font-size: 1.6rem;
  }
  .date {
    font-size: 1.4rem;
  }
}

@media (max-width: 760px) {
  .aside {
    flex-direction: column-reverse;
    gap: 6.4rem;
  }

  .hoomanAvatar:hover {
    transform: scale(1.5);
  }

  .blog {
    padding: 6.4rem 4.8rem;
  }

  .meta {
    flex-direction: column;
    align-items: flex-start;
  }
  .metaContainer {
    justify-content: space-around;
  }

  .date {
    margin: 0;
  }
  .author {
    margin: 0;
    margin-top: 1rem;
  }

  .title {
    font-size: 2.8rem;
  }

  .editButton {
    font-size: 1.4rem;
    letter-spacing: 0.5px;
    width: 35%;
    margin: 3.2rem auto;
    margin-bottom: 0;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='https://www.w3.org/2000/svg' width='540' height='450' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='.1'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/svg%3E");
  }
}

@media (max-width: 560px) {
  .aside {
    flex-direction: column-reverse;
    gap: 4.8rem;
  }

  .blog {
    padding: 3.2rem 2rem;
  }

  .metaContainer {
    gap: 2.4rem;
    flex-direction: column;
  }

  .meta {
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .date {
    margin: 0;
    margin-left: 2rem;
  }
  .author {
    margin: 0;
    margin-left: 0.8rem;
    font-weight: 600;
  }

  .hoomanContainer {
    margin-top: 1rem;
  }

  .sigHoomans h4 {
    font-size: 2.4rem;
    margin: 1.8rem 0;
  }

  .hoomanAvatar {
    width: 45px;
    height: 45px;
  }
  .editButton {
    width: 40%;
  }
}
